* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.offcanvas-start {
  width: 300px !important;
  background-color: var(--color-default);
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw6 {
  font-weight: 600 !important;
}

.fw5 {
  font-weight: 500 !important;
}

.f20 {
  font-size: 20px !important;
}

.f15 {
  font-size: 15px !important;
}

.f12 {
  font-size: 12px !important;
}

.f11 {
  font-size: 11px !important;
}

.f13 {
  font-size: 13px !important;
}

.f10 {
  font-size: 10px !important;
}

.BorderNone {
  border: none !important;
}

.f18 {
  font-size: 18px !important;
}

.f17 {
  font-size: 17px !important;
}

.Nav-menu {
  font-size: 30px;
  color: var(--color-second);
}

.borderGray {
  border: 1px solid #efefef;
  border-radius: 15px;
}

.inputts {
  border: 1px solid rgba(99, 119, 138, 0.5);
  border-radius: 8px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}
.inputts::-moz-placeholder {
  font-size: 14px;
  color: rgba(99, 119, 138, 0.5) !important;
}
.inputts::placeholder {
  font-size: 14px;
  color: rgba(99, 119, 138, 0.5) !important;
}
.inputts p {
  margin: 0;
  color: rgba(99, 119, 138, 0.5) !important;
  font-weight: 300;
  font-size: 13px;
}
.inputts img {
  width: 12px;
}

.btnLight {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 15px;
  border: none;
  font-weight: 500;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-second);
}
.btnLight i {
  margin-right: 10px;
}
.btnLight:hover {
  background-color: var(--color-second-light);
}

.LightBg {
  background-color: var(--color-body);
  color: grey;
}
.LightBg:hover {
  background-color: #efefef !important;
}

.btnNoBg {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  margin: 0 10px;
  font-weight: 500;
  outline: none;
  color: var(--color-default);
  background-color: transparent;
  border: 1px solid var(--color-default);
}
.btnNoBg i {
  margin-right: 10px;
}
.btnNoBg:hover {
  background-color: var(--color-default);
  color: var(--color-white);
}

.btnDark {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  margin: 0 10px;
  border: none;
  font-weight: 500;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-default);
}
.btnDark i {
  margin-right: 10px;
}
.btnDark:hover {
  background-color: var(--color-dark);
}

.nav {
  background-color: white;
  max-height: 60px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.8666666667);
}
.nav .search {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-dull-white);
  max-height: 35px;
  align-items: center;
  display: flex;
}
.nav .search input {
  background: transparent;
  border: none;
  outline: none;
  width: 300px;
  margin: 0px 20px;
}
.nav .right ul {
  display: flex;
  align-items: center;
}
.nav .right ul li {
  list-style: none;
  font-size: 25px;
  padding: 0px 20px;
}
.nav .right ul li img {
  width: 30px;
  height: 30px;
}
.nav .right ul li .setting {
  background-color: var(--color-second);
}
.nav .right ul li .message {
  background-color: var(--color-default);
}

.Banner .sets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 30px 50px;
}
.Banner .sets .set1 {
  display: flex;
  align-items: center;
}
.Banner .sets .set1 h2 {
  font-weight: 600;
  color: var(--color-default);
}
.Banner .sets .set1 p {
  color: var(--color-grey);
  font-size: 15px;
}
.Banner .sets .set1 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  padding: 30px;
}
.section .cards .set {
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 20px;
  padding: 20px;
}
.section .cards .set .opt1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section .cards .set .opt1 p {
  color: var(--color-black);
  font-size: 18px;
}
.section .cards .set .opt1 svg {
  color: var(--color-grey);
}
.section .cards .set .task,
.section .cards .set .due,
.section .cards .set .proposal,
.section .cards .set .open {
  text-align: center;
}
.section .cards .set .task h1,
.section .cards .set .due h1,
.section .cards .set .proposal h1,
.section .cards .set .open h1 {
  font-size: 100px;
  line-height: 80px;
}
.section .cards .set .task p,
.section .cards .set .due p,
.section .cards .set .proposal p,
.section .cards .set .open p {
  font-size: 18px;
}
.section .cards .set .due {
  color: var(--color-blue);
}
.section .cards .set .task {
  color: var(--color-red);
}
.section .cards .set .open {
  color: var(--color-orange);
}
.section .cards .set .proposal {
  color: var(--color-green);
}
.section .cards .set .down {
  color: var(--color-grey);
}
.section .card-header {
  background-color: var(--color-second);
  color: white;
  border: none;
}
.section .news .bg-soft-pink {
  background-color: rgba(253, 60, 151, 0.08) !important;
  color: var(--color-second) !important;
}
.section .news .btn {
  background-color: var(--color-second);
  border: none;
  color: white;
  padding: 5px 15px;
  font-size: 13px;
  border-radius: 3px;
}
.section .news .newsHeading {
  display: block;
  display: -webkit-box;
  margin: 0.5rem 0px;
  height: 3.6em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section .news .newsSummary {
  display: block;
  display: -webkit-box;
  height: 5em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section .tables {
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.section .tables .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.section .tables .top button {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 8px 20px;
}
.section .tables .top .last {
  color: var(--color-grey);
}
.section .tables .top .this {
  color: var(--color-default);
  background-color: var(--color-light-purple);
}
.section .tables thead {
  background-color: var(--color-second);
  color: var(--color-white);
  font-weight: 600 !important;
}
.section .tables tr:nth-child(even) {
  background-color: var(--color-light-purple);
}
.section .tables img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.section .tables .action {
  position: relative;
  cursor: pointer;
}
.section .tables .action .list {
  position: absolute;
  background-color: var(--color-white);
  width: 120px;
  top: -30px;
  left: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: none;
}
.section .tables .action .list ul {
  padding: 0;
  margin: 0;
}
.section .tables .action .list ul li {
  list-style: none;
  padding: 7px 20px;
  color: var(--color-default);
}
.section .tables .action .list ul li:hover {
  background-color: var(--color-second);
  color: var(--color-white);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.section .tables .action:hover .list {
  display: block;
}

/* Authentication */
.auth {
  background: transparent;
}
.auth .first {
  padding: 50px 100px;
  padding-left: 200px;
  background-color: var(--color-white);
  height: 100vh;
}
.auth .first .up img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
.auth .first .up h2 {
  font-weight: 600;
  color: var(--color-default);
}
.auth .first .up p {
  font-size: 15px;
  color: var(--color-default);
}
.auth .first .up p span {
  color: var(--color-second);
  text-decoration: none;
}
.auth .first form input {
  border: 1px solid var(--color-dull-white);
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.auth .first form label {
  font-size: 14px;
  color: var(--color-default);
}
.auth .first .check {
  display: flex;
  align-items: center;
}
.auth .first .check input {
  width: 15px;
  height: 15px;
}
.auth .first .check p {
  font-size: 13px;
  color: var(--color-default);
}
.auth .first .check p span {
  color: var(--color-second);
  text-decoration: none;
}
.auth .first .marg {
  margin: 20px 0;
}
.auth .first .rem {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.auth .first .rem .pass p {
  font-size: 14px;
  color: var(--color-second);
}
.auth .first .button {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-second);
  border-radius: 25px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}
.auth .first .but button {
  padding: 7px 35px;
  border: none;
  outline: none;
  margin: 0px 10px;
  border-radius: 20px;
  background: transparent;
  color: var(--color-grey);
  border: 1px solid var(--color-dull-white);
}
.auth .second {
  background-color: var(--color-default);
  height: 100vh;
  background-image: url(../img/vector-gray-and-white-color-geometric-abstract-background.jpeg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 200px 50px;
}
.auth .second .line {
  border-bottom: 4px solid var(--color-blue);
  width: 15%;
}
.auth .second .text {
  color: var(--color-white);
}
.auth .second .text h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--color-second);
}
.auth .second .lorem {
  padding-left: 50px;
}
.auth .second span {
  font-family: "Kaushan Script", cursive;
  color: var(--color-second);
}

.navbarDisplay {
  display: none !important;
}

.Profile {
  background-color: var(--color-white);
  padding: 10px 20px;
  border-radius: 20px;
  margin: 30px 0;
}
.Profile .card1 {
  padding: 20px;
}
.Profile .card1 .header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.Profile .card1 .header h4 {
  color: var(--color-default);
}
.Profile .card1 .header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Profile .card1 h5 {
  color: var(--color-second);
}
.Profile .card1 ul {
  margin: 0;
  padding: 0;
}
.Profile .card1 ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  font-size: 15px;
}
.Profile .card1 ul li i {
  font-size: 20px;
  color: var(--color-second);
}
.Profile .card3 {
  padding: 20px;
}
.Profile .card3 p {
  color: var(--color-second);
  margin: 0;
  color: gray;
}
.Profile .card3 h5 {
  color: var(--color-second);
}
.Profile .card3 ul {
  margin: 0;
  padding: 0;
}
.Profile .card3 ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  font-size: 15px;
}
.Profile .overview {
  padding: 20px;
  padding-bottom: 0px;
}
.Profile .overview h4 {
  color: var(--color-second);
}
.Profile .overview p {
  margin: 0;
  color: gray;
  font-size: 13px;
}
.Profile .overview h5 {
  font-size: 15px;
}
.Profile .card2 {
  padding: 20px;
  padding-bottom: 0px;
}
.Profile .card2 .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}
.Profile .card2 .column p {
  margin: 0;
  color: var(--color-default);
}
.Profile .card2 .column i {
  text-align: center;
  font-size: 25px;
  color: gray;
}
.Profile .card2 .column .icon {
  background-color: var(--color-second-light);
  width: 45px;
  height: 45px;
  padding: 12px;
  border: 1px solid var(--color-second);
  border-radius: 50%;
}
.Profile .card2 .column .icon i {
  text-align: center;
  font-size: 20px;
  color: var(--color-second);
}
.Profile .card2 .column:hover {
  background-color: var(--color-second-light);
}

.Patients {
  margin: 30px 0;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 20px;
}
.Patients .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Patients .header .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.Patients .header .right .search {
  display: flex;
  padding: 0 13px;
  border: 0.5px solid rgb(250, 250, 250);
  background: linear-gradient(0deg, #F8F8FA, #F8F8FA);
  border-radius: 30px;
  padding-right: 0px;
}
.Patients .header .right .search input {
  width: 300px;
  border: none;
  height: 45px;
  background: transparent;
  margin-right: 10px;
}
.Patients .header .right .search input::-moz-placeholder {
  color: rgb(158, 158, 158);
  font-size: 14px;
}
.Patients .header .right .search input::placeholder {
  color: rgb(158, 158, 158);
  font-size: 14px;
}
.Patients .header .right .search span {
  cursor: pointer;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-default);
  border-radius: 0 10px 10px 0;
  font-size: 15px;
  padding: 10px;
}
.Patients .header .right .search span:hover {
  background-color: var(--color-dark);
}

.Table {
  background-color: var(--color-body);
  padding: 20px;
  padding-bottom: 0;
  border-radius: 20px;
}
.Table table thead {
  background-color: var(--color-second) !important;
  color: white;
}
.Table table thead th {
  font-size: 16px !important;
}
.Table table tbody tr {
  margin-bottom: 10px !important;
  color: gray !important;
  cursor: pointer;
  font-size: 14px;
}
.Table table tbody tr td,
.Table table tbody tr th {
  color: gray !important;
}
.Table .TableAction .dot {
  position: relative;
  cursor: pointer;
}
.Table .TableAction .dot img {
  width: 3px;
  margin: 0;
  position: relative;
}
.Table .TableAction .dot:hover div {
  display: block;
}
.Table .TableAction .dot .firstDiv {
  display: none;
  position: absolute;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(225, 225, 225);
  right: -40px;
  width: 175px;
  border-radius: 5px;
  z-index: 1;
}
.Table .TableAction .dot .firstDiv .flex {
  display: flex;
  padding: 10px 15px;
  align-items: center;
}
.Table .TableAction .dot .firstDiv .flex:hover {
  background: rgb(238, 255, 252);
}
.Table .TableAction .dot .firstDiv img {
  width: 16px;
  margin-right: 10px;
}
.Table .TableAction .dot .firstDiv span {
  font-size: 13px;
}
.Table .down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Table .down li,
.Table .down span {
  color: var(--color-second) !important;
  background-color: transparent;
}

@media only screen and (max-width: 400px) {
  .first {
    padding: 50px;
  }
  .navbar2 .logo {
    width: 50% !important;
    margin-top: 10px !important;
  }
  .second {
    display: none;
  }
  .section .set {
    margin: 10px auto;
  }
  .sets {
    align-items: start !important;
    padding: 20px 30px !important;
  }
  .sets .set1 img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 10% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sets .set2 {
    display: flex;
  }
  .sets .set2 button {
    margin: 10px 5px !important;
    border-radius: 25px;
    padding: 7px 15px !important;
    font-size: 10px;
    border: none;
    font-weight: 400;
    outline: none;
    color: var(--color-white);
  }
  .sets .set2 button svg {
    margin-right: 5px;
  }
  .but button {
    padding: 7px 25px !important;
    margin: 10px !important;
  }
  #nav {
    display: none !important;
  }
  .tables {
    overflow: auto;
    width: 330px;
  }
  .tables .top {
    display: none !important;
  }
  .navbarDisplay {
    display: block !important;
    padding: 6px 14px;
    background-color: var(--color-default);
    transition: all 0.5s ease;
  }
  .navbarDisplay .nan {
    display: flex;
  }
  .navbarDisplay .nan h2 {
    color: var(--color-white);
  }
  .navbarDisplay li:hover {
    background-color: var(--color-default-light);
    border-radius: 5px;
  }
  .navbarDisplay li div {
    display: flex;
    align-items: center;
  }
  .navbarDisplay li span {
    font-size: 15px;
    color: var(--color-white);
  }
  .navbarDisplay li i {
    color: var(--color-white);
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
  }
  .navbarDisplay img {
    width: 150px;
    margin-right: 10px !important;
  }
  .navbarDisplay .navbar-toggler {
    border: 1px solid var(--color-second) !important;
  }
  .navbarDisplay .navbar-toggler svg {
    color: var(--color-white) !important;
  }
}/*# sourceMappingURL=style.css.map */