$color1: #54D4BD;
$color2: #0D5F50;
$color3: #fff;

.red {
    background-color: var(--color-red);
}

.orange {
    background-color: var(--color-orange);
}

.green {
    background-color: var(--color-green);
}

.gray {
    color: var(--color-default);
}

.re {
    color: $color1;
}

// .nan{background-color: $color1;}
.secondnav {
    background-color: var(--color-second);

    .dd {
        display: flex;
        align-items: center;
        background-color: var(--color-second);
        justify-content: space-between;

        p {
            color: white;
        }

        .rep {
            display: flex;
            text-align: right;
            align-items: center;
            margin: 0;
            border-radius: 5px;
            padding: 0 20px;

            li {
                color: white;
                list-style: none;
                margin: 0 10px;
                padding: 10px;
                cursor: pointer;
                font-size: 15px;

                &:hover {
                    color: $color2;
                    transition: all .5s ease;
                }
            }

            span {
                color: white;
            }
        }
    }
}

.nan {
    background-color: var(--color-white);
}

.navbar2 {
    background-color: white;

    .navbar-nav {

        // display: none;
        ul {
            display: flex;
            align-items: center;
            margin: 0;

            li {
                text-decoration: none;
                color: var(--color-second);
                padding: 20px;
                font-size: 600;
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0;
                font-weight: 600;
                list-style: none;

                &:hover {
                    color: var(--color-second);
                    transition: all .5s ease;
                }
            }
        }
    }

    .logo {
        list-style: none;
        display: flex;
        align-items: center;
        width: 200px;

        h3 {
            font-weight: 600;
            color: var(--color-second);
        }

        img {
            width: 100%;
            margin-right: 10px;
        }
    }

    .info {
        display: flex;
        align-items: center;
        border-radius: 7px;

        // box-shadow: 0 0 25px -14px $color1;
        li {
            color: white;
            margin: 0px 10px;
            list-style: none;
            cursor: pointer;

            span {
                margin-left: 10px;
            }

            &:hover {
                color: #F7f7f7;
                transition: 0.5s;
            }
        }

    }
}

.btnLight {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 15px;
    border: none;
    font-weight: 500;
    outline: none;
    color: var(--color-white);
    background-color: var(--color-second);

    i {
        margin-right: 10px;
    }

    &:hover {
        background-color: var(--color-light-green);
    }
}

.btnNoBg {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    margin: 0 10px;
    font-weight: 500;
    outline: none;
    color: var(--color-default);
    background-color: transparent;
    border: 1px solid var(--color-default);

    i {
        margin-right: 10px;
    }

    &:hover {
        background-color: var(--color-default);
        color: var(--color-white);
    }
}

.btnDark {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 0 10px;
    border: none;
    font-weight: 500;
    outline: none;
    color: var(--color-white);
    background-color: var(--color-default);

    i {
        margin-right: 10px;
    }

    &:hover {
        background-color: var(--color-dark);
    }
}

#containers {
    height: 500px;
    width: 100%;

    .text {
        color: white;

        h3 {
            font-size: 35px;
            font-weight: 600;
        }

        p {
            font-size: 25px;
        }

        button {
            background-color: $color1;
            padding: 10px 20px;
            border: none;
            outline: none;
            color: white;
        }
    }
}

.NewBanner {
    .text {
        h3 {
            font-size: 40px;
            font-weight: 700;
            color: var(--color-second);
        }
    }
}

.news {
    background-color: rgba(238, 255, 252, 1);

    .head {
        p {
            font-size: 13px;
        }
    }

    .each {
        background-color: var(--color-white);
        border-radius: 10px;
        box-shadow: 0 0 25px -14px gray;
        margin: 10px 0;

        .back {
            height: 250px;
            object-fit: cover;
            background-position: center;
            background-size: cover;
            padding-top: 30px;
            border-radius: 10px 10px 0 0;

            p {
                text-align: right;
                color: white;
                padding: 8px 15px;
                width: 150px;
            }
        }

        .text {
            padding: 20px;

            h4 {
                font-weight: 600;
                color: var(--color-seconds)
            }
        }

        .pan {
            border-top: 1px solid #ddd;
            padding: 10px 20px;
            text-align: right;

            svg {
                width: 20px;
                height: 20px;
                text-align: right;
            }
        }
    }

    .eachs {
        margin: 10px 0;

        .back {
            height: 260px;
            object-fit: cover;
            background-position: center;
            background-size: cover;
            padding-top: 30px;
            border-radius: 10px;
            position: relative;

            .light {
                position: absolute;
                bottom: 10px;
                background-color: rgba(15, 23, 43, 0.611);
                padding: 10px;
                width: 100%;

                p {
                    margin: 0;
                    color: var(--color-second);
                    font-weight: 600;
                }

                span {
                    color: var(--color-white);
                    font-weight: 600;
                }
            }
        }
    }

    .head {
        h2 {
            color: $color1;
            font-weight: 700;
        }

        span {
            border: 2px solid var(--color-red);
            margin-right: 10px;
            background-color: $color3;
        }
    }
}

.project {
    background-color: #139e1f1f;

    .head {
        h3 {
            color: $color1;
            font-weight: 600;
        }

        p {
            font-size: 13px;
        }
    }

    .pro {
        img {
            width: 100%;
        }

        .bland {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            margin: 10px 0;

            p {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }

    .center {
        .new {
            background-color: white;
            padding: 20px;
            font-size: 25px;
            border-radius: 10px;
            font-weight: 700;
            margin: 10px;
        }
    }

    .help {
        background-color: $color2;
        border-radius: 10px;
        padding: 20px 0;

        h4 {
            color: white;
            font-size: 20px;
            font-weight: 600;
            margin: 0;
            padding: 20px;
            padding-top: 10px !important;
            border-bottom: 1px solid white;
        }

        ul {
            padding: 0px;
            margin: 0;

            li {
                list-style: none;
                color: white;
                border-bottom: 1px solid white;
                display: flex;
                padding: 10px 20px;
                align-items: center;
                cursor: pointer;
                justify-content: space-between;

                &:hover {
                    background-color: $color1;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .pub {
        background-color: $color2;
        border-radius: 10px;
        padding: 10px 0;

        h4 {
            color: white;
            font-size: 20px;
            padding-top: 10px !important;
            border-bottom: 1px solid white;
            font-weight: 600;
            padding: 20px;
            margin: 0;
        }

        ul {
            padding: 0px;
            margin: 0;

            li {
                list-style: none;
                color: white;
                border-bottom: 1px solid white;
                padding: 10px 20px;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 20px;
                }

                p {
                    margin: 0;
                }

                cursor: pointer;

                &:hover {
                    background-color: $color1;
                }
            }
        }
    }
}

.feature {
    .celes {
        background-size: cover;
        background-position: center;
        height: 300px;
        position: relative;
        padding-top: 100px;

        .play {
            padding: 10px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            text-align: center;
            align-self: center;

            align-items: center;
            justify-content: center;
            background-color: $color3;
            color: white;

            svg {
                width: 80px;
            }
        }

        .text {
            bottom: 0;
            position: absolute;
            align-items: baseline;
            background-color: rgba(0, 0, 0, 0.518);
            color: white;
            padding: 20px;
            width: 100%;

            .off {
                display: flex;
                align-items: center;

                p {
                    margin: 0px 15px;
                    font-size: 13px;
                }
            }
        }
    }

    .feat {
        .head {
            h4 {
                color: $color1;
                margin: 0;
            }

            p {
                font-size: 13px;
            }

            span {
                border: 2px solid rgb(160, 6, 6);
                margin-right: 10px;
                background-color: $color3;
            }
        }

        .cele {
            background-size: cover;
            background-position: center;
            height: 400px;
            position: relative;

            .text {
                bottom: 0;
                position: absolute;
                align-items: baseline;
                background-color: rgba(0, 0, 0, 0.518);
                color: white;
                padding: 20px;
                width: 100%;

                .off {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0px 15px;
                    }
                }
            }
        }

        .four {
            ul {
                display: flex;
                align-items: center;
                padding: 0;

                li {
                    list-style: none;
                    padding: 0;
                    margin: 5px 3px;

                    img {
                        width: 100%;
                        height: 100px;
                    }
                }
            }
        }
    }

    .vid {
        .head {
            h4 {
                color: $color1;
            }

        }

        .line {
            display: flex;
            align-items: center;

            p {
                padding: 10px 20px;
                font-weight: 600;
            }

            .next {
                border-top: 2px solid $color3;
                background-color: #ddd;
                color: #000;
            }

            .vid {
                background-color: $color3;
                color: white;
            }
        }

        .pm {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            padding: 10px 0;

            .two {
                display: flex;

                // align-items: center
                .time {
                    margin: 10px;

                    p {
                        color: $color3;
                        font-weight: 600;
                    }
                }

                p {
                    margin: 0
                }

                ;

                img {
                    width: 100px;
                    height: 70px;
                    margin: 10px;
                }

                .annual {
                    margin: 10px;

                    svg {
                        color: $color3;
                    }
                }
            }

            button {
                background-color: #f7f7f7;
                border-radius: 20px;
                border: 1px solid gray;
                outline: none;
                color: $color1;
                padding: 5px 30px;
            }
        }
    }
}

.three {
    background-color: var(--color-default);

    .head {
        h5 {
            color: $color1;
            font-weight: 700;
        }

        p {
            font-size: 13px;
            color: var(--color-white);
        }

        span {
            border: 2px solid rgb(160, 6, 6);
            margin-right: 10px;
            background-color: $color3;
        }
    }

    img {
        width: 100%;
        height: 200px !important;
        object-fit: cover;
    }

    .from {
        background-color: var(--color-second);
        border: 1px solid var(--color-second);
        height: 200px;

        .inp {
            background-color: white;
            padding: 20px;

            input {
                height: 45px;
                width: 100%;
                padding: 0px 15px;
            }

            button {
                background-color: $color3;
                width: 100%;
                margin-top: 15px;
                font-size: 22px;
                padding: 10px;
                outline: none;
                border: none;
                background-color: var(--color-green);
                color: var(--color-white);

                &:hover {
                    border-radius: 10px;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
}

.footer {
    background-color: var(--color-default);

    ul {
        .quick {
            font-size: 17px;
            color: var(--color-second);
        }

        .log {
            display: flex;
            align-items: center;
            width: 30%;

            img {
                width: 100%;
                margin-right: 10px;
            }

            h4 {
                color: var(--color-second);
                font-weight: 600;
            }
        }

        li {
            list-style: none;
            color: white;
            padding: 10px;
            font-size: 13px;
            cursor: pointer;

            &:hover {
                color: #ddd;
            }

            span {
                margin: 5px;
            }

        }

        .ipsum {
            svg {
                margin-right: 10px;
                color: var(--color-second);
            }
        }
    }
}

.last {
    background-color: #000;
    border-top: 1px solid white;

    p {
        color: white;
        margin: 0;
        font-size: 12px;
    }
}

.blog {
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    p {
        font-size: 15px;
    }

    .nov {
        font-size: 13px;
    }

    .txt {
        border-left: 5px solid $color1;

        span {
            color: $color1;
        }

    }
}



@media only screen and (max-width: 991px) {
    .secondnav {
        display: none !important;
    }

    .info {
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .info {
        li {
            font-size: 13px !important;
            padding: 15px !important;
        }
    }
}

// new
.carousels {
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .text {
        // color: var(--color-default);
        background-color: rgba(238, 255, 252, 1);

        h1 {
            color: var(--color-second);
        }

        button {
            background-color: var(--color-second);
            color: var(--color-white);
            outline: none;
            border: none;
            padding: 12px 30px;
        }
    }
}

.slider1 {
    background-image: url(../img/img5.jpg);
    background-blend-mode: darken;
    // background-color: var(--color-second);
}

.carousel-indicators {
    button {
        background-color: var(--color-second) !important;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: var(--color-default);
    height: 60px;
}

.slider2 {
    background-image: url(../img/img3.jpg);
    background-blend-mode: darken;
    // background-color: var(--color-second);
}

.slider3 {
    background-image: url(../img/img1.jpg);
    background-blend-mode: darken;
    // background-color: var(--color-second);
}

h2.main_title {
    text-align: center;
    margin: 0 0 45px 0;
    padding: 0;
    font-size: 36px;
    color: #222;
    font-weight: 500;
    text-transform: uppercase;
}


h2.main_title em {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #0054a6;
    margin: auto;
    -webkit-border-radius: 5 px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h2.main_title span {
    display: block;
    color: #999;
    font-size: 21px;
    text-transform: none;
}

a.box_service {
    text-align: center;
    text-decoration: none;
    margin-bottom: 25px;
    padding: 30px 30px 5px 30px;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    display: block;
    color: #555;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box_service h3 {
    font-size: 21px;
    margin-top: 10px;
    color: var(--color-default);
}

// .box_service span {
// 	width: 20px;
// 	height: 20px;
// 	display: block;
// 	top: 15px;
// 	right: 15px;
// 	position: absolute;
// 	line-height: 1;
// 	font-size: 20px;
// 	color: #ccc;
// }

a.box_service:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

a.box_service span {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    padding: 15px 30px;
    line-height: 100px;
    font-size: 60px;
    object-fit: center;
    color: var(--color-second);

    background-color: var(--color-light-purple);

    svg {
        width: 50px;
        height: 50px;
    }
}

a.btn_outline,
.btn_outline {
    border: 2px solid var(--color-second);
    font-family: inherit;
    font-size: inherit;
    color: var(--color-second);
    cursor: pointer;
    padding: 6px 20px;
    display: inline-block;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

a.btn_outline:hover,
.btn_outline:hover {
    background: var(--color-default);
    color: #fff;
    border: 2px solid var(--color-default);
}

a.btn_1,
.btn_1 {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: var(--color-second);
    cursor: pointer;
    padding: 8px 20px;
    display: inline-block;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

a.btn_1.home,
.btn_1.home,
a.btn_outline,
.btn_outline {
    min-width: 160px;
    margin-top: 35px;
    text-decoration: none;
}

h3.main_title_left {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 28px;
    color: #222;
    font-weight: 500;
    text-transform: uppercase;
}

h3.main_title_left span {
    display: block;
    color: #999;
    font-size: 16px;
    text-transform: none;
}

h3.main_title_left em {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #0054a6;
    -webkit-border-radius: 5 px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

p.lead.styled {
    font-size: 18px;
    font-weight: 500;
}

ul.list_ok {
    list-style: none;
    margin: 35px 0 30px 0;
    padding: 0;
    line-height: 1.3;

    h4 {
        color: var(--color-second);
    }
}

ul.list_ok li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
}

ul.list_ok li:before {
    font-family: 'ElegantIcons';
    content: "->";
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 24px;
    color: #3cb878;
}

.img-responsive {
    margin: auto;
    width: 100%;
    object-position: center;
    object-fit: contain;
}


///auth
.registerScroll {
    height: 95vh;
    overflow: scroll;
    overflow-x: none;
    width: 100%;


    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.Authpad {
    padding: 50px 100px;
}
.btnBottom {
    font-size: 14px;
    a{
        color: var(--color-second) !important;
    }
}

.verifyInput_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}

.auth {
    background: transparent;

  

    .first {

        background-color: var(--color-white);
        height: 100vh;

        .up {
            img {
                width: 60%;
                margin-bottom: 30px;
            }

            h2 {
                font-weight: 600;
                color: var(--color-default);
            }

            p {
                font-size: 15px;
                color: var(--color-default);

                span {
                    color: var(--color-second);
                    text-decoration: none;
                }
            }
        }

        form {
            input {
                border: 1px solid var(--color-dull-white);
                outline: none;
                width: 100%;
                color: var(--color-second);
                padding: 10px;
                border-radius: 5px;
                font-size: 15px;
            }

            label {
                font-size: 14px;
                color: var(--color-second);
            }
        }

        .check {
            display: flex;
            align-items: center;

            input {
                width: 15px;
                height: 15px;
            }

            p {
                font-size: 13px;
                color: var(--color-default);

                span {
                    color: var(--color-second);
                    text-decoration: none;
                }
            }
        }

        .marg {
            margin: 20px 0;
        }

        .rem {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;

            .pass {
                p {
                    font-size: 14px;
                    color: var(--color-second);
                }
            }
        }

        .but {
            button {
                padding: 7px 35px;
                border: none;
                outline: none;
                margin: 0px 10px;
                border-radius: 20px;
                background: transparent;
                color: var(--color-grey);
                border: 1px solid var(--color-dull-white);
            }
        }
    }

    .second {
        background-color: var(--color-default);
        height: 100vh;
        background-image: url(../img/vector-gray-and-white-color-geometric-abstract-background.jpeg);
        position: relative;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        padding: 200px 50px;

        .line {
            border-bottom: 4px solid var(--color-blue);
            width: 15%;
        }

        .text {
            color: var(--color-white);

            h2 {
                font-weight: 700;
                font-size: 40px;
                color: var(--color-second);
            }
        }

        .lorem {
            padding-left: 50px;
        }

        span {
            font-family: 'Kaushan Script', cursive;
            color: var(--color-second);
        }
    }

}

.margin_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

////about
.parallax_window_in {
    height: 550px;
    background-image: url(../img/img.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: var(--color-default);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: table;
    width: 100%;
}

.overv {

    h3,
    h2 {
        color: var(--color-second);
    }
}

.bg_content {
    width: 100%;
    background: url(../img/pexels-tima-miroshnichenko-5452201.jpg) no-repeat center center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: var(--color-default);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
}

.bg_content h2 {
    color: #fff;
    margin-bottom: 15px;
}

.bg_content p {
    font-size: 18px;
    text-align: center;
    padding: 0 10%;
}

.content_center {
    color: #fff;
    text-align: center;
}

.content_center h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 0;
}

.margin_120_95 {
    padding-top: 120px;
    padding-bottom: 95px;
}

.progress {
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.35);
    margin-bottom: 30px;
    border-radius: 0;
    height: 10px;
}

.progressText {
    text-transform: uppercase;
}

.progress-bar {
    background: #0054a6;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.content_center h3 em {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #3cb878;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content_center .lead {
    font-weight: 500;
    color: #999;
}

.parallax_window_in.contact {
    height: 550px;
    background-image: url(../img/tt.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: var(--color-default);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: table;
    width: 100%;
}

.box_style_2 {
    padding: 15px 25px 25px 25px;
    margin-bottom: 20px;
    border: 1px dashed #ccc;
    background-color: #fff;
}

.box_style_2 h4 {
    margin: 10px 0 20px;
}

form {
    label {
        font-weight: 600;
        color: var(--color-second);
    }

    input,
    textarea {
        margin-bottom: 20px;
    }
}

.box_style_2 ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.box_style_2 ul li {
    margin-bottom: 10px;
}

.box_style_2 a,
ul li a {
    text-decoration: none;
}

.box_style_2 ul li:last-child {
    margin-bottom: 0;
}

.parallax_window_in.service {
    height: 550px;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: var(--color-default);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: table;
    width: 100%;
}

.bbout {
    h4 {
        color: var(--color-second);
    }

    .lead {
        color: var(--color-second);
    }
}

.parallax_window_in.short {
    height: 400px;
    position: relative;
    display: table;
    width: 100%;
}

#sub_content_in {
    display: table-cell;
    padding: 45px 0 0 0;
    vertical-align: middle;
    text-align: right;
    background: rgba(0, 0, 0, 0.6);
}

.parallax_window_in.short #sub_content_in {
    display: table-cell;
    padding: 45px 0 0 0;
    vertical-align: bottom;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
}

.parallax_window_in.short #sub_content_in.cart {
    padding: 0 0 0 0;
    vertical-align: middle;
    text-align: center;
}

#sub_content_in h1 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 0;
}

#sub_content_in p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

#position {
    background-color: var(--color-second);
    padding: 10px 0;
    font-size: 13px;
}

#position ul li:first-child {
    padding-left: 20px;
}

#position ul li:first-child:before {
    content: "";
    font-style: normal;
    font-weight: normal;
    font-family: "fontello";
    position: absolute;
    left: 0;
    top: 0;
}

#position ul {
    margin: 0;
    padding: 0;
}

#position ul li span {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-white) !important;
}

#position ul li span:hover {
    color: #fff;
    opacity: 1;
}

#position ul li {
    display: inline-block;
    padding-right: 8px;
    margin-right: 3px;
    position: relative;
}

#position ul li:after {
    content: "-";
    font-style: normal;
    font-weight: normal;
    font-family: "fontello";
    position: absolute;
    right: 0;
    top: 1px;
}

#position ul li:last-child:after {
    content: '';
    color: #fff
}